@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  html {
      font-family: Montserrat;
      font-size: 16px;
  }
  
  body {
      margin: 0;
      background-color: #FBF7F4;
      color: #3C2716;
      font-weight: 500;
      letter-spacing: 0.3px;
  }
  
  h1, h2, h3, h4 {
      margin: 0;
  }
  
  .navbar {
      display: flex;
      justify-content: flex-end;
      height: 6vh;
      width: 100%;
      background-color: #EED2CC;
      top: 0;
      position: fixed;
  }
  
  nav > ul > li{
      margin: 0 1.5vw;
  }
  
  .navbar li:last-of-type{
      margin-right: 3vw;
  }
  
  a{
      text-decoration: none;
      color: #3C2716;
  }
  a:hover{
      font-weight: bold;
  }
  a:visited{
      color: #3C2716;
  }
  
  div#content{
      margin: 29vh 20% 8%;
  }
  
  .container{
      height: 64.5vh;
      border: 1px solid black;
      overflow: hidden;
      margin-top: 6.5vh;
  
  }
  h4{
      font-family: Cousine;
      letter-spacing: 3px;
      font-size: max(20px, 1.5vw);
      color: #86ACA0;
  }
  
  h1{
      margin: 1vh 0;
      font-size: max(60px, 6vw);
  }
  
  div.divider{
      height: 0.17vh;
      width: 15%;
      background-color: #86ACA0;
  }
  
  p{
      font-size: max(16px, 1.3vw);
      line-height: 1.25em;
  }
  p#intro{
      margin-right: 10%;
  }
  
  h2{
      padding-top: 15%;
      text-align: center;
      font-size: max(25px, 3.5vw);
  }
  
  section div.container{
      height:94vh;
  }
  
  .about-p{
      text-align: justify;
      text-indent: 3em;
  }
  
  .details-container{
      margin: 5em 0;
  }
  .details{
      text-align: left;
      text-indent: 0;
      margin: 0 3em;
  }
  
  .position-container{
      background-color: white;
      margin: 5vh 3vw;
  }
  .inline{
      display: inline;
  }
  
  .right{
      float: right;
  }
  
  
  
  
  